<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="528a36d4-efa3-486d-b372-ab1d2dd9020f" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="528a36d4-efa3-486d-b372-ab1d2dd9020ffileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="f42a75f4-b863-45a4-9777-97f6a6003d1f"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>